@model gc2lti_catalog.Models.CourseSelectionModel
@{
    ViewBag.Title = "Share to Classroom";
    ViewBag.PersonName = Model.PersonName;
}

<img class="center-block vertical-spacing" src="images/32x32_yellow_stroke_icon@1x.png" />
<div class="text-center vertical-spacing">Share to Classroom</div>
@using (Html.BeginForm("Confirm", "Home", FormMethod.Get))
{
    @Html.HiddenFor(m => m.PersonName)
    @Html.HiddenFor(m => m.Url)
    @Html.HiddenFor(m => m.Title)
    @Html.HiddenFor(m => m.Description)

    <div class="form-group text-center vertical-spacing">
        @Html.DropDownList("courseId", Model.Courses, "Choose class", new
        {
            @classs = "form-control",
            onChange = "toggleSubmit()"
        })
    </div>

    <div class="form-group text-right vertical-spacing">
        <button id="submit" type="submit" class="btn btn-primary disabled" disabled="disabled">Go</button>
    </div>
}

@section Scripts {

    <script type="text/javascript">

        function toggleSubmit() {
            var submit = $("#submit");
            if ($("#courseId").val() == "") {
                submit.addClass("disabled");
                submit.attr("disabled", "disabled");
            } else {
                submit.removeClass("disabled");
                submit.removeAttr("disabled");
            }
        }

    </script>
}